
/* ------------------ Element Selectors ------------------ */

h1 {
	padding-top: .5em;
	text-align: center;
	font-family: "Pacifico", cursive;
	font-size: 9em;
	margin: 0;
	padding-bottom: 15px;
	color: white;
	text-shadow: 0 2px 2px rgba(0,0,0,.6);
}

h3 {
	text-align: center;
	font-style: italic;
	font-size: 2em;
	font-family: "Amatic SC", cursive;
	letter-spacing: 5px;
	margin: 0;
	color: #000;
	text-shadow: 0 1px 1px rgba(0,0,0,.7);
}


* {
  box-sizing: border-box;
}

/*footer {
	background-color: red;
}*/

/* ------------------ Class Selectors ------------------ */

.main-header {
	height: 30em;
	background: linear-gradient(0deg, #fff, transparent 60%),
				url("../img/pink.jpg") no-repeat center 35%;
	background-size: cover;
	line-height: 1;
}

.introduction {
	font-family: "Patrick Hand SC", cursive;
	text-align: center;
	font-size: 1.3em;
	border-bottom: 1px solid #56ff00;
	border-top: 1px solid #56ff00;
	padding: .5em;
	margin: 3em 2em 0em 2em;
	line-height: 1.5;
	color: #363636;
}

.profile {
	height: 15em;
	width: 15em;
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.education {
	border-bottom: 3px solid #F731B5;
	padding: .7em;
	margin-top: 2em;
}

/* ----- Work Experience ----- */

#container {
    width:960px;
    margin:10px auto;
}

#sidebar {
    float:left;
    width: 21.25em; /* 340px / 16px */
    font-weight: bold;
    text-transform: uppercase;
    color: #363636;
}

#content {
    float:left;
    width: 38.75em; /* 620px / 16px */
    line-height: 1.5;
}

ul {
  text-indent: -22px ;
  list-style-type: none;
}


/* ----- Skillsets ----- */

.skillsets img {
	max-width: 80px;
}

.skillsets {
	text-align: center;
	clear: both;
	/*border-top: 3px solid #F731B5;*/
	background: linear-gradient(to bottom, #fff, transparent 30%),
				#F731B5;
	background-size: cover;
				
}

h2 {
	font-family: "Pacifico", cursive;
	color: #fff;
	font-size: 3em;
	padding-top: 1.3em;
	margin-bottom: 0em;
	text-shadow: 0 2px 2px rgba(0,0,0,.6);
}


/* ------------------ Interactive ------------------ */

h1:hover {
	text-shadow: 0 2px 2px #000;
}

h3:hover {
	color: #56ff00;
}

h2:hover {
	color: #56ff00;
}

/*.skillsets:hover {
	border-top: 5px solid #F731B5;
}

.education:hover {
	border-bottom: 5px solid #F731B5;
}*/

